AADE_USERNAME=
AADE_PASSWORD=
AADE_CALLED_BY_AFM=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLIC_KEY=
VITE_STRIPE_PRICING_TABLE_ID=

# Prosvasis Run Configuration
PROSVASIS_USERNAME=
PROSVASIS_PASSWORD=
PROSVASIS_SERIES_AL=7021
PROSVASIS_SERIES_TIM=7022
PROSVASIS_ITEM_ID=1000
PROSVASIS_VAT_PERCENT=24
